/* .wrapper{
position: absolute;
width: 468px;
height: 610px;
left: 150px;
top: 90px;

border: 5px solid #FFFFFF;
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inputWrapper{
position: absolute;
width: 346px;
height: 68px;
left: 115px;
top: 324px;

background: #FFFFFF;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}


.inputTextWrapper{
position: absolute;
width: 228px;
height: 34px;
left: 192px;
top: 341px;

font-family: Capriola;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
text-align: center;

color: rgba(0, 0, 0, 0.28);
} */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display :fles;
    justify-content:center;
    align-items: center;
    min-height: 100vh;

}
/* body::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
body::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
} */
.loginBody{
   background-image: url('back.jpg');
   background-position:center;
   background-size:cover;
   height:100vh;

}
.containerx{
    position:relative;
    display: flex;
    justify-content: left;
    align-items:center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index:1;
}
.containerx .cardx{
    position: relative;
    width:350px;
    height:450px;
    margin:30px;
    margin-top: 130px;
    margin-left: 250px;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.containerx .cardx .content{
    padding: 20px;
   
    transition: 0.5s;
}
.containerx .cardx .content h4{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.5em;
    color:rgb(243, 139, 3);
    z-index: 1;
}
.containerx .cardx .content h3{
    font-family: 'Lobster', cursive;
    font-size: 1.8em;
    color:rgb(8, 8, 8);
    z-index: 1;
}
.containerx .cardx .content p {
    font-size: 1em;
    color:#fff;
    font-weight: 300;
}
.containerx .cardx .content a{
    position: relative;
    display: inline-block;
    padding:8px 20px;
    margin-top: 15px;
    background: #fff;
    color:#000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.loginSubmit{
    width: 100%;
    border: 0px;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    /* box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%); */
    color: #ffffff;
    border-radius: 50px;
    padding: 14px 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif!important;
    cursor: pointer;
    height: 44px;
    line-height: 17px;
    font-weight: 500;
    background-size: 300% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 20px;
}
.loginSubmit:hover{
   
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.experionImg {
    display: block;
    width:300px;
    height:70px;
  }