body {
  font-family: "Inter", sans-serif;
  overflow: visible;
}

.containers {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 6fr 6fr 6fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main"
    "sidebar  main main main"
    "sidebar main main main";
  /* grid-gap: 0.2rem; */
  font-weight: 800;
  /* text-transform: uppercase; */
  font-size: 12px;
  /* color: #004d40; */
  text-align: center;
  transition: grid-template-columns 2s;
  overflow-x: visible;
}

nav {
  background-color: #efefef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: nav;
  padding-top: 20px;
  /* display: flex;
  justify-content: space-between; */
  /* align-items: stretch; */
}

main {
  grid-area: main;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.sidebar {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #0d1829;
  grid-area: sidebar;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* overflow-y: hidden; */
  gap: 1rem;

  /* transform: translateX(-30rem); */
  /* overflow-x:visible; */
}

/* #parent-node{
  position: absolute;
  margin-top: -200%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
/* .mini-parent-node{
  position: absolute;
  margin-top: -350%;
} */

.sidebar.open {
  /* transform: translateX(0); */
  width: 310px;
  z-index: 1;
}

.sideBarIcons {
  padding-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: width 2s; */
  /* transition-timing-function: ease; */
}

.sideBarx {
  /* padding: 48px; */
  padding-top:30px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  /* transition: width 2s; */
  /* transition-timing-function: ease; */
}

.sideBarIcons .sideBarText{
  position: absolute;
  left: 100%;
  height: 50px;
  width: 0;
  background: rgba(13, 24, 41, 0.76);;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: whitesmoke;
  line-height: 45px;
  text-align: center;
  /* transition: 100ms; */
  visibility: hidden;
  transition: width 100ms;
  font-size: large;
  font-family: inherit;
  font-weight: normal;
}
.sideBarIcons:hover {
  /* box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2), 4px 0 0 0 #91a4b7; */
  z-index: 1;
  cursor: pointer;
  /* width: 200%; */
  /* background-color: whitesmoke;  */
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: whitesmoke;
  font-size: large;
  font-weight: 700;
}

.sideBarIcons:hover .sideBarText {
  visibility: visible;
  text-align: center;
  color: white;
  opacity: 1;
  width: 200px;
}
.icons-close:hover{
  color: whitesmoke;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

/* SIdebar content design */

.liClick {
  margin: 2px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: start;
  gap: 2rem;
  color: aliceblue;
  margin-top: 24px;
  align-items: center;
  line-height: 10px;
}

.liClick span{
  font-size: 18px;
  font-weight: 300;
}

/* div .liClick:hover{
 background-color: red;
 width: 50%;
} */

#parent-node{
  width: 100%;
  text-align: center;
}

.liClick:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
  /* border-radius: 5%; */
  transition:  100ms;
  width: 100%;
  
}

.fa-2x {
  font-size: 1.7em;
}

.liClick span:hover{
  font-size: larger;
  font-weight: 400;
  color : aliceblue
}




/* Create event align */
.alignButtonEnd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
li {
  color: aliceblue;
}

.ul-div {
  color: white;
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-left: 6px solid gray;
  height: inherit;
  margin-left: 24px;
  visibility: hidden;
  position: absolute;
}

.li-div {
  display: flex;
  justify-content: left;
  padding-left: 24px;
  margin-top: 16px;
}

.switch-user-admin {
  position: absolute;
  bottom: 10%;
}

/* Modal style */

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.1fr 1fr 0.3fr;
    grid-template-areas:
      "nav"
      "main"
      "main";
    /* grid-gap: 0.2rem; */
  }

  .sidebar.open {
    width: inherit;
  }
  li {
    text-align: center;
  }
}
