@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900');
.mainFlex {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: space-between;
  
}

.flexLeftItem {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  align-self: center;
}

.flexRightItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* padding-bottom: 8px; */
  align-self: center;
}

.sizedBox {
  width: 50px;
}

.myEventIcons {
  /* padding-top: 48px; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  /* transition: width 2s; */
  /* transition-timing-function: ease; */
}

.myEventIcons .sideBarText {
  visibility: hidden;
  z-index: 1;
}

.myEventIcons:hover {
  /* box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2), 4px 0 0 0 #91a4b7; */
  z-index: 1;
  cursor: pointer;
  /* width: 200%;
  background-color: whitesmoke; */
}
.myEventIcons:hover .myEventText {
  visibility: visible;
  text-align: center;
  color: whitesmoke;
}

.myEventIcons .myEventText {
  visibility: hidden;
  z-index: 1;
}

.popup-box{
  visibility: hidden;
  color: white;
  position: absolute;
  width: fit-content;
  right: 24px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: #0d1829;   */
  background-color: rgba(13, 24, 41, 0.76);
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */
  border-radius: 12px;
  padding-bottom: 16px;
  /* gap: 10px; */
}

.click {
  border-radius: 50%;
  height: 6%;
  width: 3%;
  position: absolute;
  right: 15px;
}

.popup-box .div-li-image {
  width: 200px;
  height: 100px;

  display: flex;
  /* position: relative; */
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  border-left: 6px solid #91a4b7;
}
.popup-box_profile{
  display: block;
  margin-top: auto;
  z-index: 2;
}
.div-li {
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  border-left: 6px solid #91a4b7;
  padding-top: 32px;
}

.profile-image {
  width: 35%;
  height: auto;
  border-radius: 50%;
}

.profile-image-s {
  width: 1%;
  height: auto;
  /* border-radius: 30px; */
}
#logout{
  cursor: pointer;
}  

/* .action{
  position: fixed;
  top: 20px;
  right: 30px;
}
.action .profile{
  position:relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile .profileImage{
  position: absolute;
  top: 0;
  left:0;
  width: 100px;
  height: 100px;
  object-fit: cover;
} */
.action .menu{
  position: absolute;
  top: 80px;
  right:10px;
  padding: 10px 15px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  border:0.5px solid rgb(216, 214, 214);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  background-color: #f2f2f2;
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before{
  content: '';
  position: absolute;
  top:-5px;
  right:28px;
  width:20px;
  height: 20px;
  background-color: #f2f2f2;
  transform: rotate(45deg);
}
.action .menu h3{
  width:100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color:#555;
  line-height: 1.2em;
}
.action .menu h3 span{
  font-size: 14px;
  color:#c3c2c2;
  font-weight: 400;
}
.action .menu ul li{
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
}
.action .menu ul li  .profileImage{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover .profileImage{
  opacity: 1;
}
.action .menu ul li  .profileSpan{
  display: inline-block;
  text-decoration: none;
  color:#555;
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li :hover .profileSpan{
  color: #ff5d94;
}

.profileSpan{
  font-family: 'Poppins', sans-serif;
}

