.event-details-container {
  display: grid;
  height: 300vh;
  width: 100%;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
  gap: 1rem;
  grid-template-areas:
    "desc desc desc desc contact-a contact-a contact-a contact-a"
    "desc desc desc desc contact-b contact-b contact-b contact-b"
    "invitee invitee invitee invitee participants participants participants participants"
    "participantsList participantsList participantsList participantsList participantsList participantsList participantsList participantsList";
}

.event-desc {
  background-color: rgba(131, 177, 132, 0.4);
  grid-area: desc;
  padding-top: 20px;
  border-radius: 10px;
}

.event-contact-a {
  background-color: rgba(131, 177, 132, 0.4);
  grid-area: contact-a;
  padding-top: 20px;
  border-radius: 10px;
}

.event-contact-b {
  background-color: rgba(131, 177, 132, 0.4);
  grid-area: contact-b;
  padding-top: 20px;
  border-radius: 10px;
}

.event-invitees {
  /* background-color: rgba(131, 177, 132, 0.4); */
  display: flex;
  justify-content: flex-end;
  grid-area: invitee;
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 40px;
}

.event-participants {
  /* background-color: rgba(131, 177, 132, 0.4); */
  display: flex;
  justify-content: flex-start;
  grid-area: participants;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.event-participants-list-container {
    grid-area: participantsList;
    padding-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  

.event-container-width {
  width: 70%;
  height: 200vh;
}

.event-invitees-container {
  background-color: rgba(131, 177, 132, 0.4);
  border-radius: 10px;
}

.event-participants-container {
  background-color: rgba(131, 177, 132, 0.4);
  border-radius: 10px;
}

.event-participant-list{
    
    background-color: rgba(131, 177, 132, 0.4);
    border-radius: 10px;
    overflow-y: visible;
}


@media only screen and (max-width: 1000px) {
    .event-details-container {
      grid-template-columns: 2fr;
      grid-template-rows: 0.8fr 0.3fr 0.3fr 0.5fr 0.5fr 0.8fr;
      grid-template-areas:
        "desc"
        "contact-a"
        "contact-b"
        "invitee"
        "participants"
        "participantsList";
        overflow-x: hidden;
    }
    .event-invitees {
        /* background-color: rgba(131, 177, 132, 0.4); */
        
        justify-content: center;
        
       
      }
      .event-participants {
       
        justify-content: center;

      }
     

      .event-container-width {
        width: 100%;
        
      }
        
      

  }

  @media only screen and (max-width: 500px) {

    .event-invitees {
      /* background-color: rgba(131, 177, 132, 0.4); */
      
      justify-content: left;
      
     
    }


  }
  
