.SelectnBtn1 {
  display: inline-block;
  position: relative;
  width: 50%;
}
.SelectnBtn1-content {
  display: flex;
  justify-content: center;
  gap: 8px;
  /* background-color: black; */
  padding: 8px;
  /* border-top-left-radius: 16px;
  border-top-right-radius: 16px; */
  border-radius: 16px;
  outline: 1px solid rgb(20, 243, 20);
  flex-grow: 0;
  flex-shrink: 0;
}
.SelectnBtn1-options {
  position: absolute;
  width: 100%;
  display: none;
  visibility: hidden;
}
.SelectnBtn1-option {
  display: none;
  visibility: hidden;
  background-color: inherit;
  padding: 8px;
  z-index: 3;
  width: 100%;
}

.SelectnBtn1-option:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.SelectnBtn1 .SelectnBtn1-option {
  display: block;
  visibility: visible;
  background-color: whitesmoke;
  position: relative;
  width: 100%;
}

.SelectnBtn1:hover .SelectnBtn1-option:hover {
  visibility: visible;
  background-color: gainsboro;
}

.reasonBox {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* .container{
  background-color: black !important;
} */

.containerPopupBox {
  margin: auto;
  background-color: rgba(13, 24, 41, 0.76);
  border: 1px solid white;
  color: white;
  width: 35%;
  padding: 16px;
  border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
  .SelectnBtn1 {
    display: inline-block;
    position: relative;
    width: 100%;
  }
}
