#events {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  /* border: thin solid rgb(190, 190, 190); */

  /* height: 100vh; */
  /* text-align: center; */
  border-radius: 10px;
}

#events td,
#events th {
  /* border: 1px solid #ddd; */

  padding: 8px;
  /* border-radius: 10px; */
}

#tile-title{
  cursor: pointer;
}

td {
  text-align: left;
}

#events tr:nth-child(even) {
  background-color: #f2f2f2;
}

#events tr:hover {
  background-color: #ddd;
}

#events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: lightgray;
}

/* Select Box */
.box {
  position: absolute;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.pageList-items {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  gap: 1.2rem;
  /* position: absolute; */
  justify-content: center;
  bottom: 10%;
  line-height:25px;
  background-color:none;
  border-radius: 50px;
  margin-top: 10px;
  padding:0 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* .pageList-items span {
  cursor: pointer;
  width: 80px;
  padding: 8px;
} */
.pageList-items span{
	text-decoration: none;
	font-size: 16px;
	margin: 10px;
	padding: 10px 16px;
	border-radius: 20%;
  border:thin solid grey;
  cursor: pointer;
}
/* a:hover, a:nth-child(2){
	background-color: #cc66ff;
	color: white;
	transition: 200ms ease;
} */
.pageList-items span:hover{
  background-color: #0d1829;
	color: white;
	transition: 200ms ease;
}

/* .pageList-items span:hover {
  cursor: pointer;
  background-color: #1793f8;
  border-radius: 20px;
} */

.center-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  justify-content: space-around;
}

.next-btn:hover {
  background-color: #0d1829;
	color: white;
	transition: 200ms ease;
}

.previous-btn:hover {
  background-color: #0d1829;
	color: white;
	transition: 200ms ease;
}

.next-btn {
  text-decoration: none;
	font-size: 16px;
  font-weight: normal;
	margin: 10px;
	padding: 10px 15px;
	border-radius: 10%;
}

.previous-btn {
  text-decoration: none;
	font-size: 16px;
  font-weight: normal;
	margin: 10px;
	padding: 10px 15px;
	border-radius: 10%;
}

.main-box {
  display: flex;
  justify-content: center;
}

.tile-image {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.add-box {
  display: inline-block;
}
.add-box .hover-icon {
  display: none;
  position: absolute;
}

.add-box:hover .hover-icon {
  display: inline-block;
  padding: 5px;
  background-color: #ddd;
  border-radius: 10px;
  font-size: small;
  
}

.edit-box {
  display: inline-block;
}

.edit-box .hover-icon {
  display: none;
  position: absolute;
}

.edit-box:hover .hover-icon {
  display: inline-block;
  padding: 5px;
  background-color: #ddd;
  border-radius: 10px;
  font-size: small;
}

.space-content{
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: .8rem;
}
