.popup-content {
  margin: auto;
  background-color: rgba(13, 24, 41, 0.76);
  border: 1px solid white;
  color:white;
  width: 25%;
  padding: 20px 10px;
  border-radius: 8px;
}
.resContainer{
  padding: 5px;
  
  color:white;
}
/* .resSubmit{
 margin-left: 83%;
} */
.popup-arrow {
  color:  white;
}

.popup-overlay {
  background: rgba(13, 24, 41, 0.76);
  border:1px solid grey;
}
/* .input-hr{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
} */

.container{
  background-color: none !important;
}